<section class="py-16 bg-white">
  <div class="max-w-6xl mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-extrabold text-slate-900 sm:text-4xl">Nuestros Servicios</h2>
      <p class="mt-4 text-lg text-slate-600">
        <!--interpolación-->
        {{ subtitulo }}
      </p>

      <p class="mt-2 text-indigo-600 font-semibold italic">
        Has mostrado interés en:
        {{ serviciosSeleccionado }}
      </p>
    </div>
    <!--BÚSQUEDA-->
    <div class="max-w-md mx-auto mb-10">
      <label class="block text-sm font-medium text-gray-700">Buscar Servicio:</label>
      <input (input)="busqueda($event)"
        type="text"
        placeholder="Ej: Vacuna..."
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 p-2 border"
      />
    </div>

    <!--SERVICIOS-->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      @for (servicio of serviciosFiltrados; track servicio.id) {
        <div
          class="flex flex-col rounded-2xl shadow-sm border border-slate-200 overflow-hidden hover:shadow-xl transition-shadow duration-300"
        >
          <div class="relative h-48">
            <!--Property Binding-->
            <img
              [src]="servicio.imagen"
              [alt]="servicio.nombre"
              [class.grayscale]="!servicio.activo"
              class="w-full h-full object-cover"
            />
            <!--Si el servicio es false muestra el div con la etiqueta "Proximamente"-->
            @if (!servicio.activo) {
              <div class="absolute inset-0 bg-slate-900/40 flex items-center justify-center">
                <span
                  class="bg-white text-slate-900 px-3 py-1 rounded-full text-xs font-bold uppercase"
                >
                  Próximamente
                </span>
              </div>
            }
          </div>
          <div class="p-6">
            <h3 class="text-xl font-bold text-slate-900">{{ servicio.nombre }}</h3>
            <p class="mt-3 text-slate-500 text-sm leading-6">
              {{ servicio.descripcion }}
            </p>
            <!--Event Binding-->
            <button
              (click)="seleccionar(servicio.nombre)"
              [disabled]="!servicio.activo"
              class="mt-6 w-full py-2 px-4 rounded-lg font-medium transition-all disabled:bg-slate-100 disabled:text-slate-400 enabled:bg-indigo-50 enabled:text-indigo-700 enabled:hover:bg-indigo-100"
            >
              <!--If simplificado para expresiones pequeñas-->
              {{ servicio.activo ? 'Me interesa este servicios' : 'No disponible' }}
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</section>
